@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.navbar a {
  color: black;
}
.active {
  color: gray;
}
.navbar-nav .nav-link:hover {
  color: brown;
  border-bottom: 2px solid;
}

.header {
  border: 1px solid black;
  padding: 150px;
  background-image: url(images/banner-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 498px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.book {
  margin-top: 80px;
  color: wheat;
}

#contact-us {
  /* border: 1px solid#000; */
  width: 80%;
  margin: 30px auto;
  padding: 10px;
}

#contact-us p {
  margin: 10px 0;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.btn-submit {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #0d6efd;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 30px auto;
  text-align: center;
}

.body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: darkgray;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  color: black;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
